<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="3.2.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.2.0" targetFramework="net48" />
  <package id="HarfBuzzSharp" version="2.6.1.5" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.2903.40" targetFramework="net48" />
  <package id="Spire.Doc" version="12.11.7" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Data.SqlClient" version="4.9.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
</packages>